<header class="h-[60px] flex-shrink-0">
  <div class="h-full px-[30px] py-[10px] flex items-center">
    <!-- ESQUERDA -->
    <div class="flex items-center gap-6">
      <!-- LOGO -->
      <div class="flex items-center gap-2">
        <i
          class="fi fi-rr-graduation-cap text-[#30ACED] text-lg leading-none"
        ></i>
        <span class="text-white font-medium leading-none text-[16px]">
          LOGOMarca
        </span>
      </div>

      <!-- DIVISOR -->
      <span class="h-4 w-px bg-white/20"></span>

      <!-- CONTEXTO -->
      <button
        class="flex items-center gap-2 text-white/80 text-sm leading-none hover:text-white"
      >
        <i class="fi fi-rr-settings text-[#707B84] text-lg"></i>
        <span>SIG Admin</span>
        <i class="fi fi-rr-angle-small-down text-xs opacity-70"></i>
      </button>
    </div>

    <div class="ml-auto flex items-center gap-6">
      <!-- NOTIFICAÇÃO -->
      <div class="w-8 h-8 flex items-center justify-center">
        <i class="fi fi-rr-bell text-white/80 text-lg leading-none"></i>
      </div>

      <!-- AVATAR -->
      <div class="w-8 h-8 rounded-full bg-white/20 shrink-0"></div>
    </div>
  </div>
</header>
